#container{
  background-color: #ff4757;
  height: 800px;
  width: 100%
  display: inline-block;
}
#div1{
  background-color: #ff6b81;
  height: 800px;
}
#div2{
  background-color: #ff6348;
  height: 800px;
}
#div3{
  background-color: #ff7f50;
  height: 800px;
}
#div4{
  width: 50%;
  display: inline-block;
}
#div5{
  width: 50%;
  display: inline-block;
  float: right;
}
