body {
  font-family: sans-serif;
}

header {
  text-align: center;
}

header img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

nav ul {
  text-align: center;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

footer {
  text-align: center;
}

main {
  padding: 0 15%;
}