
<h2> Frank says things like: </h2>
<p><i>The best revenge is massive success.</i></p>

<p><i>I feel sorry for people who don't drink. When they wake up in the morning, that's as good as they're going to feel all day.</i></p>
<p><i>Alcohol may be man's worst enemy, but the bible says love your enemy.
May you live to be 100 and may the last voice you hear be mine.</i><p>
