<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Google Book Search</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
  <form action="/" method="POST">
    <input name="query" />
  </form>

  <% for book in @books do %>

    <h2> <%= book.title %> </h2>
    <% if book.image_link %>
      <img src="<%= book.image_link %>" alt="book image">
    <% end %>
    <p> Authors: <%= book.authors %> </p>

    <br>

  <% end %>


</body>
</html>